:root
  --black: #333333
  --white: #ffffff
  --gold: #d0a95d
  --grey: #cad2d8
  --blue: #94aad2

$black: var(--black)
$white: var(--white)
$gold: var(--gold)
$grey: var(--grey)
$blue: var(--blue)

html
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  font-family: 'Raleway', sans-serif
  zoom: .90

h1, h2, h3, h4, h5, h6, .title, [class~="text"]
  font-family: "Bentham", serif

p, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  color: $black

.container
  margin: 0 auto

/* Disble inputs outline */
*:focus
  outline: none

/* Custom scroll bar */
::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background: $white

::-webkit-scrollbar-thumb
  background: $gold
  margin-top: -5px

  &:hover
    background: rgba($gold, 0.8)

@tailwind base
@tailwind components
@tailwind utilities

.debug 
  border: 1px solid red
